@mixin btn-1 {
    border: none;
    outline: none;
    box-shadow: none;
    border-radius: 5px;
    padding: 7px 15px;
    box-shadow: $shadow-2;
    color: $color-2;
    font-size: 0.8rem;
    text-shadow: $text_shadow-1;
    font-weight: 600;
    transition: all 0.2s ease-in;
    background: $color-6;
    font-family: $font-1;
    &:hover,
    &:focus,
    &:active {
        background: $color-1;
        color: $color-w;
    }
}

@mixin dropdown-1 {
    margin: auto;
    height: 45px;
    border-radius: 0.2rem;
    outline: none;
    border-color: $color-9;
    color: $color-2;
    font-weight: 500;
}